body{
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}
body>#lineart{
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    transform: scale(1.1) translateY(-12em);
    left: 0;
    z-index: 9;
    /*opacity: 20%;*/
}
header>div>img{
    position: absolute;
    left: 9vw;
    top: 2vh;
    z-index: 1;
}
#head>ul{
    display: flex;
    list-style: none;
    position: absolute;
    top: 1vh;
    right: 8vw;
    text-decoration: none; !important;
}

#head>ul>li{
    margin-right: 50px;
    font-family: 'Darker Grotesque', sans-serif;
    text-decoration: none; !important;
    color: white; !important;
    z-index: 99;
}
#head>ul>li>a{
    font-family: 'Darker Grotesque', sans-serif;
    text-decoration: none; !important;
    color: white; !important;
    font-size: 18px;
    font-weight: 550;
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    height: 8vh;
    background-color: black;
}